body {
  background-color: #308b5a;
  color: #fef72c;
  font-family: Helvetica, sans-serif;
  margin: 1em 2em;
}
h1 {
  text-shadow: 1px 2px #444;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hand {
  margin-top: 20px;
}

.card {
  margin: 10px;
  width: 175px;
}

.play-button {
  background-color: #4b1124;
  border: 4px double #cfb338;
  box-shadow: 4px 4px 5px #333;
  color: #eee;
  cursor: pointer;
  font-size: 24px;
  padding: 0.5em 2em;
}

.play-button:active {
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
}

.choose-hands-count-button {
  background-color: #4b1124;
  border: 4px double #cfb338;
  box-shadow: 4px 4px 5px #333;
  color: #eee;
  cursor: pointer;
  font-size: 24px;
  padding: 0.5em 2em;
}

.choose-hands-count-button:active {
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
}
