body {
    background-color: #308b5a;
    color: #fef72c;
    font-family: Helvetica, sans-serif;
    margin: 1em 2em;
}
h1 {
    text-shadow: 1px 2px #444;
}

/* Cards */
.card {
    height: 125px;
    width: 100px;
}


/* Button */
.play-button {
    background-color: #4b1124;
    border: 4px double #cfb338;
    box-shadow: 4px 4px 5px #333;
    color: #eee;
    cursor: pointer;
    font-size: 24px;
    padding: 0.5em 2em;
}
.play-button:active {
    position: relative;
    top: 4px;
    left: 4px;
    box-shadow: none;
}
